* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #ccc;
    color: black;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

/* Seção principal da página de compras */
.pagina-compras {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.imagem-produto {
    flex: 1;
    padding: 20px;
}

.imagem-produto img {
    max-width: 100%;
    border-radius: 8px;
}

.detalhes-produto {
    flex: 2;
    padding: 20px;
}

.detalhes-produto h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.descricao {
    margin: 10px 0;
    font-size: 16px;
}

.preco {
    font-size: 24px;
    color: black;
    margin: 10px 0;
}

.qty {
    background: #ccc;
    display: inline-flex;
    padding: 0 0;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}
.qty button {
    background: #ccc;
    border: none;
    display: inline-flex;
    padding: 0 0;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}
.qty button:hover {
    background: #817b7b;
    cursor: pointer;
}

.adicionar-carrinho {
    text-decoration: none;
    margin-left: 70px;
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.adicionar-carrinho:hover {
    background-color: #3bc55b;
}

/* Rodapé */
footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}
